body {
  margin: 0;
  padding: 0;
  max-height: 1200px;
  font-family: 'Libre Franklin', sans-serif;
}


#topLeft {
  height: 50%;
  height: 500px;
  width: 50%;
  float: left;
  background-image: linear-gradient(rgba(142, 122, 7,0.3), rgba(142, 122, 7, 0.3)), url(../images/tiffany.jpg);
  background-position: 30% 20%;
  background-size: 100% auto;
  background-repeat: no-repeat;

}

#topLeft h1 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 220px;
  margin-left: 15%;
}

#topLeft a {
  color: #fff;
  text-decoration: none;
}

#topLeft a:hover {
  color: #c9c9c9;
  transition: .5s;
}

/*----- TOP RIGHT SECTION ------ */

#topRight {
  height: 50%;
  height: 500px;
  width: 50%;
  float: left;
  background-image: linear-gradient(rgba(255, 76, 76,0.3), rgba(255, 76, 76, 0.3)), url(../images/desktop.jpg);
  background-position: 30% 20%;
  background-size: 141%;
  background-repeat: no-repeat;
}

#topRight h1 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 220px;
  margin-left: 15%;
}

#topRight a {
  color: #fff;
  text-decoration: none;
}

#topRight a:hover {
  color: #c9c9c9;
  transition: .5s;
}

/*------ BOTTOM LEFT SECTION ------*/

#bottomLeft {
  height: 50%;
  height: 500px;
  width: 50%;
  float: left;
  background-image: linear-gradient(rgba(0, 30, 150,0.3), rgba(0, 30, 150, 0.3)), url(../images/notebook.jpg);
  background-position: 30% 20%;
  background-size: 141%;
  background-repeat: no-repeat;
}


#bottomLeft h1 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 220px;
  margin-left: 15%;
}

#bottomLeft a {
  color: #fff;
  text-decoration: none;
}

#bottomLeft a:hover {
  color: #c9c9c9;
  transition: .5s;
}

/*----- BOTTOM RIGHT SECTION ----- */

#bottomRight {
  height: 50%;
  height: 500px;
  width: 50%;
  float: left;
  background-image: linear-gradient(rgba(150, 150, 150,0.5), rgba(150, 150, 150, 0.5)), url(../images/iphone.jpg);
  background-position: 30% 20%;
  background-size: 141%;
  background-repeat: no-repeat;
}


#bottomRight h1 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 220px;
  margin-left: 30%;
}

#bottomRight a {
  color: #fff;
  text-decoration: none;
}

#bottomRight a:hover {
  color: #c9c9c9;
  transition: .5s;
}
